<link rel="stylesheet" href="../static/main.css">
<h1>Service <b>{{ service.service_name }}</b></h1>
<div class="{{ service.state }}">
{% if not service.state == 'running' %}
  <div><a href="/start/{{ service.url_service_name }}">Start now</a></div>
{% else %}
  <div><a href="/stop/{{ service.url_service_name }}">Stop now</a></div>
{% endif %}
  <div>{{ service.state }} ({{ service.sub_state }}) since {{ service.time }}</div>
</div>
<div>source({{ service.source_type }}): {{ service.source }}</div>
<hr/>
<h2>Ports</h2>
<div>{{ ports }}</div>
<div>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ port_form.as_p }}
    <input type="submit" value="Change ports (requirers restart)" />
  </form>
</div>
<hr/>
<h2>Volumes</h2>
<div>{{ service.volumes }}</div>
<hr/>
<h2>Backups</h2>
<div>{{ service.backups }}</div>
<div>{{ service.manifest }}</div>
<a href="/remove/{{ service.url_service_name }}">Remove</a>
